*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.logo{
    flex-basis: 25%;
}

.menu{
    flex-basis: 50%;
}

.buttons{
    flex-basis: 25%;
    text-align: right;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    text-transform: capitalize;
    font-size: 20px;
}

.main-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #0e72cc;
    background-color: #0e72cc;
    color: white;
    cursor: pointer; 
}

a{
    color: #0665c4;
    text-decoration: none;
}
